html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* place your styles below */

#search-tools {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#display {
  clear: both;
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

#display img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 300px;
}

#display h2 {
  text-align: center;
}

#suggestions {
  display: none;
  border: 1px solid grey;
  margin: 0 auto;
  max-width: 25%;
}

.suggestion {
  background-color: transparent;
  border: none;
}

.suggestion:focus {
  outline: none;
}

.suggestion:hover {
  color: #ff0000;
}
