html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Place your styles below */

header, main {
  text-align: center;
}

#try-again, #form-submit {
  margin: 10px auto;
  width: 200px;
  height: 50px;
}

#try-again {
  display: none;
}

#quiz-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.question h2 {
  flex-basis: 100%;
  font-size: 2em;
}

.question label {
  flex-basis: 50%;
}

.choice-image {
  width: 100px;
  height: 100px;
  opacity: 0.55;
  transition: box-shadow 0.5s, opacity 0.5s, background-color 0.5s;
}

.choice-image:hover {
  opacity: 1.0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label > .choice-image {
  opacity: 1.0;
  box-shadow: 0 0 5px 5px #ff00ff;
}

#result {
  display: none;
  margin: 0 auto;
  width: 250px;
  height: 400px;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
  #quiz-wrapper {
    flex-direction: row;
  }
}
