html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

#reset, #music {
  margin: 0 auto;
  width: 80px;
  height: 30px;
}

/* Create your styles below */
