body {
  background-color: #F4E4D7;
  font-size: 1.5em;
  text-align: center;
}

header {
  border: 3px solid #000000;
  background-image: url("img/background.png");
  background-position: center;
  background-size: cover;
}

#top {
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
}

header h2 {
  font-style: italic;
}

nav, main {
  color: #D08986;
}

nav ul li {
  list-style: none;
}

#tupac-poem img {
  width: 150px;
  height: 200px;
}
 
#shel-poem img {
  width: 130px;
  height: 180px;
}

#rosario-poem img {
  width: 10%;
  height: auto;
}

.poem-text {
  font-family: 'Just Another Hand', cursive;
  font-size: 1.2em;
}

.first-line {
  color: #ff0000;
}
 
#tupac-poem, #rosario-poem {
  background-color: #FEF0E5; /* lenin */
}

#shel-poem {
  background-color: #FFFAF6; /* snow */
}